.banner1 {
  height: 62px;
  padding: 13px 76px;
  width: 165px;
}

.container-post {
  border: 1px solid $azSecundario;
  border-radius: 15px;
  margin: 0 16px 0 16px;
}

.container-post-avatar {
  // clip-path: circle(83px at 100px 85px);
  height: 59px;
  width: 59px ;
  border-radius: 50%; 
}